<div class="form__container">
  <ion-avatar>
    <img src="../../assets/imgs/logo.jpg" />
  </ion-avatar>
  <h1>Prueba Tecnica</h1>

  <form class="form__content" [formGroup]="form" (ngSubmit)="submit()">
    <ion-item lines="full" [class.error]="emailError && formSubmitted">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input
        formControlName="email"
        name="email"
        type="email"
        placeholder="Email"
      ></ion-input>
    </ion-item>

    <span *ngIf="emailError && formSubmitted" class="error-message">
      El email introducido no es válido
    </span>

    <ion-item lines="full" [class.error]="passwordError && formSubmitted">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input
        formControlName="password"
        name="password"
        type="password"
        placeholder="Contraseña"
      ></ion-input>
    </ion-item>

    <span *ngIf="passwordError && formSubmitted" class="error-message">
      Contraseña inferior a 5 carácteres
    </span>

    <ion-item class="no-padding" lines="none">
      <ion-label class="label"> Recordar </ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item class="no-padding" lines="none">
      <button type="submit" expand="full">Acceder</button>
    </ion-item>
  </form>
</div>
